@model RoyalFinalApp.Models.Testimonial

@{
    ViewData["Title"] = "WriteReview";
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}

<h1 style="padding:20px" >Write a Review</h1>

 <hr />
<div class="row" style="padding:20px">
    <div class="col-md-4">
        <form asp-action="WriteReview" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="enter your name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="padding:20px">
    <a asp-action="Index">Cancel</a>
</div>

