@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Party With Us</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">Plan your graduation or wedding with us</p>
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <form asp-action="Search" method="post">
                        <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" name="input" id="input" type="text" placeholder="Eg: Wedding">
                            <input type="submit" asp-action="Search" asp-controller="Home" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;"/>
                            </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

@if (ViewBag.status==true)
{
    @Html.Partial("HallView")
}else{
    @await Component.InvokeAsync("Hall")
}
@*@await Component.InvokeAsync("Hall")
*@


@await Component.InvokeAsync("Planner")


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5>all over Jordan</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                        <h5>Hall Reservation</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Wedding Planners</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Event Management</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

@await Component.InvokeAsync("Testimonial")
