@model RoyalFinalApp.Models.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/loginStyle/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/loginStyle/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(../../Images/hall3.jpg);">
                    <span class="login100-form-title-1">
                        Sign Up
                    </span>
                </div>

                <form asp-action="Register" class="login100-form validate-form">
                    <div class=" wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span asp-for="Email" class="label-input100">Email</span>
                        <input asp-for="Email" class="input100" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class=" wrap-input100 validate-input m-b-26">
                        <span asp-for="Password" class="label-input100">Password</span>
                        <input asp-for="Password" class="input100" placeholder="Enter Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class=" wrap-input100 validate-input m-b-26">
                        <span asp-for="ConfirmPassword" class="label-input100">Confirm Password</span>
                        <input asp-for="ConfirmPassword" class="input100" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="flex-sb-m w-full p-b-30">
                     
                        <div>
                            <a asp-action="Login" asp-controller="Account" class="txt1">
                                Already have an account?
                            </a>
                        </div>
                       
                    </div>
                    <div class="form-group container-login100-form-btn">
                        <input type="submit" value="Register" class="btn btn-success" />
                    </div>
                    <br />
                    <div asp-validation-summary="All" class="text-danger"></div>

                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/loginStyle/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/assets/loginStyle/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/loginStyle/js/main.js"></script>

</body>
</html>
