@model RoyalFinalApp.Models.ViewModels.PasswordViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}

<head>
    <link href="~/assets/profile/stylesheet.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="~/Images/user.png" width="90">
                <span class="font-weight-bold">Welcome</span><span class="text-black-50">@User.Identity!.Name</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                        <h6>change your password</h6>
                    </div>
                </div>
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input asp-for="CurrentPassword" class="form-control" placeholder="Enter your old password" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input asp-for="NewPassword" class="form-control" placeholder="Enter new password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="mt-5 text-right"><input class="btn btn-primary profile-button" type="submit" value="Update"/></div>
                </form>
                <br />
                <div class="col-md-6"><a asp-action="Index" asp-controller="Profile" class="text-danger">Cancel</a></div>

            </div>
        </div>
    </div>
</div>
