@using Microsoft.Extensions.Options;
@inject IOptions<RoyalFinalApp.areas.Payment.Helpers.StripeSettings> Stripe

    @{
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}

<center><h1>CheckOut</h1></center>

<div class="text-center">
    <form asp-action="Charge" asp-controller="Payments" method="post">
        <article>
            <label>Amount: $5</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-local="auto"
                data-key="@Stripe.Value.Publishablekey"
                data-description="Sample charge"
                data-amount="500">

        </script>
    </form>
</div>