@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwfSkmz5lB5309-l_rqO4CtEOc-9Sx9JA&language=en" type="text/javascript"></script>
</head>


<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-5">

            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>

            
            <div class="col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                <div id="modal-map2" style="height:86%;width:77%;position:relative;overflow:hidden">
                </div>
            </div>
            <div>
              
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->



<script>
    //ROADMAP
    //SATELLITE
    //HYBRID
    //TERRAIN

    var uluru = { lat: 31.980380741444314, lng: 35.837037336917334 };
    var map = new google.maps.Map(document.getElementById('modal-map2'), {
        zoom: 13,
        center: uluru,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,

        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        streetViewControl: true,

        streetViewControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
        },

    });
</script>


<